In [1]:
import os
print(os.getcwd())

os.chdir('C:\\Users\\jakel\\Desktop\\python_proj')
print (os.getcwd())

C:\Users\jakel\Desktop\python_proj
C:\Users\jakel\Desktop\python_proj

In [2]:
import pandas as pd     # import dataframe package. 

BE = pd.read_excel (r'Lab 4 Data.xlsx', sheet_name='Sheet1')      # read in a dataframne.

BE.head(5)   # display first 5 rows. 

#INSIGHT: Not a helpful raw data presentation. You want business metrics to be the column attributes.

,Unnamed: 0,Jan,Feb,March,April,May,June,July,Aug,Sep,Oct,Nov,Dec
0,Price,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
1,Unit of sales,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0
2,Unit cost,4.5,3.8,3.8,3.8,3.5,3.5,3.0,3.0,3.0,4.0,4.5,4.5
3,Fixed cost,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,Variable cost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Make a copy of dataframe. BE_t. Perform data manipulation. 
# Copying a dataframe declare a variable = dataframe_name. Any manipulation feature will be a .feature_name() 

BE_t = BE.transpose()  # Tranpose the months to be rows, and business metrics will become columns. Store in new dataframe.
print(BE_t)            # display the new data output. columns and rows switched. 

# INSIGHT: When doing any modiciation of a dataframe. Store the changes in a COPY of the dataframe. That we can keep the raw source data as-is.

                0              1          2           3              4  \
Unnamed: 0  Price  Unit of sales  Unit cost  Fixed cost  Variable cost
Jan           7.0          300.0        4.5      1000.0            NaN
Feb           7.0          300.0        3.8      1000.0            NaN
March         7.0          300.0        3.8      1000.0            NaN
April         7.0          300.0        3.8      1000.0            NaN
May           7.0          300.0        3.5      1000.0            NaN
June          7.0          300.0        3.5      1000.0            NaN
July          7.0          300.0        3.0      1000.0            NaN
Aug           7.0          300.0        3.0      1000.0            NaN
Sep           7.0          300.0        3.0      1000.0            NaN
Oct           7.0          300.0        4.0      1000.0            NaN
Nov           7.0          300.0        4.5      1000.0            NaN
Dec           7.0          300.0        4.5      1000.0            NaN

                     5              6           7
Unnamed: 0  Total cost  Sales revenue  Net income
Jan                NaN            NaN         NaN
Feb                NaN            NaN         NaN
March              NaN            NaN         NaN
April              NaN            NaN         NaN
May                NaN            NaN         NaN
June               NaN            NaN         NaN
July               NaN            NaN         NaN
Aug                NaN            NaN         NaN
Sep                NaN            NaN         NaN
Oct                NaN            NaN         NaN
Nov                NaN            NaN         NaN
Dec                NaN            NaN         NaN

In [4]:
# We want to get rid of the Unnamed column at the 0th pos. 
# 0th columns are index columns, and not considered a column within the dataframe. Can't be altered/dropped unless reset_index() 

BE_t.columns = BE_t.iloc[0]    # iloc (I locate) looks up rows, and columns in a dataframe based on index position. 
print(BE_t)

Unnamed: 0  Price  Unit of sales  Unit cost  Fixed cost  Variable cost  \
Unnamed: 0  Price  Unit of sales  Unit cost  Fixed cost  Variable cost
Jan           7.0          300.0        4.5      1000.0            NaN
Feb           7.0          300.0        3.8      1000.0            NaN
March         7.0          300.0        3.8      1000.0            NaN
April         7.0          300.0        3.8      1000.0            NaN
May           7.0          300.0        3.5      1000.0            NaN
June          7.0          300.0        3.5      1000.0            NaN
July          7.0          300.0        3.0      1000.0            NaN
Aug           7.0          300.0        3.0      1000.0            NaN
Sep           7.0          300.0        3.0      1000.0            NaN
Oct           7.0          300.0        4.0      1000.0            NaN
Nov           7.0          300.0        4.5      1000.0            NaN
Dec           7.0          300.0        4.5      1000.0            NaN

Unnamed: 0  Total cost  Sales revenue  Net income
Unnamed: 0  Total cost  Sales revenue  Net income
Jan                NaN            NaN         NaN
Feb                NaN            NaN         NaN
March              NaN            NaN         NaN
April              NaN            NaN         NaN
May                NaN            NaN         NaN
June               NaN            NaN         NaN
July               NaN            NaN         NaN
Aug                NaN            NaN         NaN
Sep                NaN            NaN         NaN
Oct                NaN            NaN         NaN
Nov                NaN            NaN         NaN
Dec                NaN            NaN         NaN

In [5]:
# Remove the indeX/primary key from dataframe.
BE_t1 = BE_t.reset_index()   
print(BE_t1)

# INSIGHT: reset_index() does not drop a column. It removes the primary key col of the dataframe. 
# INSIGHT: we use reset_index() because we will be dropping the column. Index columns cannot be dropped in pandas without reset.

Unnamed: 0       index  Price  Unit of sales  Unit cost  Fixed cost  \
0           Unnamed: 0  Price  Unit of sales  Unit cost  Fixed cost
1                  Jan    7.0          300.0        4.5      1000.0
2                  Feb    7.0          300.0        3.8      1000.0
3                March    7.0          300.0        3.8      1000.0
4               April     7.0          300.0        3.8      1000.0
5                 May     7.0          300.0        3.5      1000.0
6                 June    7.0          300.0        3.5      1000.0
7                July     7.0          300.0        3.0      1000.0
8                  Aug    7.0          300.0        3.0      1000.0
9                  Sep    7.0          300.0        3.0      1000.0
10                 Oct    7.0          300.0        4.0      1000.0
11                 Nov    7.0          300.0        4.5      1000.0
12                 Dec    7.0          300.0        4.5      1000.0

Unnamed: 0  Variable cost  Total cost  Sales revenue  Net income
0           Variable cost  Total cost  Sales revenue  Net income
1                     NaN         NaN            NaN         NaN
2                     NaN         NaN            NaN         NaN
3                     NaN         NaN            NaN         NaN
4                     NaN         NaN            NaN         NaN
5                     NaN         NaN            NaN         NaN
6                     NaN         NaN            NaN         NaN
7                     NaN         NaN            NaN         NaN
8                     NaN         NaN            NaN         NaN
9                     NaN         NaN            NaN         NaN
10                    NaN         NaN            NaN         NaN
11                    NaN         NaN            NaN         NaN
12                    NaN         NaN            NaN         NaN

In [6]:
# Make a copy of the copied dataframe.
# Drop the 0th index column. Store in a second copied dataframe BE_t2 
BE_t2 = BE_t1.drop(0)
print(BE_t2)

Unnamed: 0   index Price Unit of sales Unit cost Fixed cost Variable cost  \
1              Jan   7.0         300.0       4.5     1000.0           NaN
2              Feb   7.0         300.0       3.8     1000.0           NaN
3            March   7.0         300.0       3.8     1000.0           NaN
4           April    7.0         300.0       3.8     1000.0           NaN
5             May    7.0         300.0       3.5     1000.0           NaN
6             June   7.0         300.0       3.5     1000.0           NaN
7            July    7.0         300.0       3.0     1000.0           NaN
8              Aug   7.0         300.0       3.0     1000.0           NaN
9              Sep   7.0         300.0       3.0     1000.0           NaN
10             Oct   7.0         300.0       4.0     1000.0           NaN
11             Nov   7.0         300.0       4.5     1000.0           NaN
12             Dec   7.0         300.0       4.5     1000.0           NaN

Unnamed: 0 Total cost Sales revenue Net income
1                 NaN           NaN        NaN
2                 NaN           NaN        NaN
3                 NaN           NaN        NaN
4                 NaN           NaN        NaN
5                 NaN           NaN        NaN
6                 NaN           NaN        NaN
7                 NaN           NaN        NaN
8                 NaN           NaN        NaN
9                 NaN           NaN        NaN
10                NaN           NaN        NaN
11                NaN           NaN        NaN
12                NaN           NaN        NaN

In [7]:
# COLUMN ADD-INS for second dataframe BE_t2. 
BE_t2['Variable cost'] = BE_t2['Unit of sales']*BE_t2['Unit cost']    # Variable cost column = Unit sales * unit cost
BE_t2['Total cost'] = BE_t2['Fixed cost'] + BE_t2['Variable cost']    # Total cost column = Fixed cost * variable cost
BE_t2['Sales revenue'] = BE_t2['Price']*BE_t2['Unit of sales']        # Sales revenue column = Price * Unit of sales
BE_t2['Net income'] = BE_t2['Sales revenue'] - BE_t2['Total cost']    # NI income = sales * total cost
print(BE_t2)

Unnamed: 0   index Price Unit of sales Unit cost Fixed cost Variable cost  \
1              Jan   7.0         300.0       4.5     1000.0        1350.0
2              Feb   7.0         300.0       3.8     1000.0        1140.0
3            March   7.0         300.0       3.8     1000.0        1140.0
4           April    7.0         300.0       3.8     1000.0        1140.0
5             May    7.0         300.0       3.5     1000.0        1050.0
6             June   7.0         300.0       3.5     1000.0        1050.0
7            July    7.0         300.0       3.0     1000.0         900.0
8              Aug   7.0         300.0       3.0     1000.0         900.0
9              Sep   7.0         300.0       3.0     1000.0         900.0
10             Oct   7.0         300.0       4.0     1000.0        1200.0
11             Nov   7.0         300.0       4.5     1000.0        1350.0
12             Dec   7.0         300.0       4.5     1000.0        1350.0

Unnamed: 0 Total cost Sales revenue Net income
1              2350.0        2100.0     -250.0
2              2140.0        2100.0      -40.0
3              2140.0        2100.0      -40.0
4              2140.0        2100.0      -40.0
5              2050.0        2100.0       50.0
6              2050.0        2100.0       50.0
7              1900.0        2100.0      200.0
8              1900.0        2100.0      200.0
9              1900.0        2100.0      200.0
10             2200.0        2100.0     -100.0
11             2350.0        2100.0     -250.0
12             2350.0        2100.0     -250.0

In [8]:
# COLUMN ADD-IN: Calculate break even metric.
BE_t2['Break_even'] = BE_t2['Fixed cost']/(BE_t2['Price']-BE_t2['Unit cost'])
print(BE_t2)

Unnamed: 0   index Price Unit of sales Unit cost Fixed cost Variable cost  \
1              Jan   7.0         300.0       4.5     1000.0        1350.0
2              Feb   7.0         300.0       3.8     1000.0        1140.0
3            March   7.0         300.0       3.8     1000.0        1140.0
4           April    7.0         300.0       3.8     1000.0        1140.0
5             May    7.0         300.0       3.5     1000.0        1050.0
6             June   7.0         300.0       3.5     1000.0        1050.0
7            July    7.0         300.0       3.0     1000.0         900.0
8              Aug   7.0         300.0       3.0     1000.0         900.0
9              Sep   7.0         300.0       3.0     1000.0         900.0
10             Oct   7.0         300.0       4.0     1000.0        1200.0
11             Nov   7.0         300.0       4.5     1000.0        1350.0
12             Dec   7.0         300.0       4.5     1000.0        1350.0

Unnamed: 0 Total cost Sales revenue Net income  Break_even
1              2350.0        2100.0     -250.0       400.0
2              2140.0        2100.0      -40.0       312.5
3              2140.0        2100.0      -40.0       312.5
4              2140.0        2100.0      -40.0       312.5
5              2050.0        2100.0       50.0  285.714286
6              2050.0        2100.0       50.0  285.714286
7              1900.0        2100.0      200.0       250.0
8              1900.0        2100.0      200.0       250.0
9              1900.0        2100.0      200.0       250.0
10             2200.0        2100.0     -100.0  333.333333
11             2350.0        2100.0     -250.0       400.0
12             2350.0        2100.0     -250.0       400.0

In [9]:
# FINAL: Write the final modified data to Excel file. Create a new worksheet. 
with pd.ExcelWriter('Lab 4 Data.xlsx', engine='openpyxl', mode='r+', if_sheet_exists='replace') as writer:
    BE_t2.to_excel(writer, 'Sheet2')