In [1]:
# Import the module of operating system (os)
import os

# help function to see what the code os.getcwd is for
help (os.getcwd)

Help on built-in function getcwd in module nt:

getcwd()
    Return a unicode string representing the current working directory.

In [2]:
# Find out your current working directory
print(os.getcwd())

# Display all of the files found in your current working directory
print(os.listdir(os.getcwd()))

# Change the current working directory
os.chdir('C:\\Users\\jakel\\Desktop\\python_proj')
print (os.getcwd())

C:\Users\jakel\Desktop\python_proj
['.ipynb_checkpoints', 'Lab 1 Data.xlsx', 'Lab 2 Data.xlsx', 'Python Lab 1 results (Complete).ipynb', 'Python Lab 2 results (Complete).ipynb', 'Python Lab 3 results.ipynb']
C:\Users\jakel\Desktop\python_proj

In [3]:
# Standard imports
import numpy as np       # python numners lib 
import scipy as sp
import pandas as pd      # pandas is a dataframe lib
import datetime 
import seaborn as sns    # seaborn is a high-level visual library that shows dynamic heatmaps and plots. 

# Load the A/R Data
AR = pd.read_excel (r'Lab 1 Data.xlsx', sheet_name='Sheet1')

print (AR)
# Display first few rows
AR.head(5)
AR.info()

       Customer  InvoiceAmount   Due Date  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    Home Depot         377.60 2021-12-02         NaN         NaN         NaN
1       Porsche        1259.97 2021-09-28         NaN         NaN         NaN
2      Burberry        1476.09 2021-08-14         NaN         NaN         NaN
3          AT&T         331.80 2021-11-24         NaN         NaN         NaN
4       Porsche        1122.46 2021-09-05         NaN         NaN         NaN
..          ...            ...        ...         ...         ...         ...
195        eBay         652.11 2021-10-19         NaN         NaN         NaN
196    Nintendo         566.79 2021-08-20         NaN         NaN         NaN
197   Pizza Hut        1036.24 2021-10-21         NaN         NaN         NaN
198      Corona        1300.85 2021-11-18         NaN         NaN         NaN
199        Beko         375.42 2021-12-06         NaN         NaN         NaN

     Unnamed: 6
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
195         NaN
196         NaN
197         NaN
198         NaN
199         NaN

[200 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer       200 non-null    object
 1   InvoiceAmount  200 non-null    float64
 2   Due Date       200 non-null    datetime64[ns]
 3   Unnamed: 3     0 non-null      float64
 4   Unnamed: 4     0 non-null      float64
 5   Unnamed: 5     0 non-null      float64
 6   Unnamed: 6     0 non-null      float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 11.1+ KB

In [4]:
# ANALYSIS: How many columns and rows does raw AR file have?
AR.shape      # shape returns a tuple(count # rows, count # columns). 200 rows, distinct customers, 7 columns

(200, 7)

In [5]:
# Data clean-up, remove the useless default columns. 
AR.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],inplace=True)
AR.shape     # check if column count dropped. Should be 3 columns.

(200, 3)

In [6]:
# ANALYSIS: What is some prelim AR data telling us?
AR.describe()      # describe() takes numeric-valued rows, and calculates stats.

# INSIGHT: 
# 200 unique customers
# Average past due amount $845.72
# 75% of past due AR is over $1100
# Lowest AR customer past due is $230.98
# Highest AR customer past due is $1,505.35

       InvoiceAmount
count     200.000000
mean      845.721700
std       375.342177
min       230.980000
25%       519.687500
50%       811.470000
75%      1144.460000
max      1505.350000

In [7]:
# Provide 'Today Date' as the column name and assign 12/31/2021 to the column
AR['Today Date'] = datetime.date(2021 , 12 , 31)
print (AR)
# Check the format of the columns
AR.info()
# Convert the 'Today Date' column to datetime format
AR['Today Date'] = pd.to_datetime(AR['Today Date'])

       Customer  InvoiceAmount   Due Date  Today Date
0    Home Depot         377.60 2021-12-02  2021-12-31
1       Porsche        1259.97 2021-09-28  2021-12-31
2      Burberry        1476.09 2021-08-14  2021-12-31
3          AT&T         331.80 2021-11-24  2021-12-31
4       Porsche        1122.46 2021-09-05  2021-12-31
..          ...            ...        ...         ...
195        eBay         652.11 2021-10-19  2021-12-31
196    Nintendo         566.79 2021-08-20  2021-12-31
197   Pizza Hut        1036.24 2021-10-21  2021-12-31
198      Corona        1300.85 2021-11-18  2021-12-31
199        Beko         375.42 2021-12-06  2021-12-31

[200 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer       200 non-null    object
 1   InvoiceAmount  200 non-null    float64
 2   Due Date       200 non-null    datetime64[ns]
 3   Today Date     200 non-null    object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 6.4+ KB

In [8]:
# How many days past due is each customer?
# COLUMN ADD-IN: Column called "Days Past Due"., the value for this column is expression Today's Date - Due Date = Days Past Due.
AR['Days Past Due'] =AR['Today Date'] - AR['Due Date']
print (AR)

       Customer  InvoiceAmount   Due Date Today Date Days Past Due
0    Home Depot         377.60 2021-12-02 2021-12-31       29 days
1       Porsche        1259.97 2021-09-28 2021-12-31       94 days
2      Burberry        1476.09 2021-08-14 2021-12-31      139 days
3          AT&T         331.80 2021-11-24 2021-12-31       37 days
4       Porsche        1122.46 2021-09-05 2021-12-31      117 days
..          ...            ...        ...        ...           ...
195        eBay         652.11 2021-10-19 2021-12-31       73 days
196    Nintendo         566.79 2021-08-20 2021-12-31      133 days
197   Pizza Hut        1036.24 2021-10-21 2021-12-31       71 days
198      Corona        1300.85 2021-11-18 2021-12-31       43 days
199        Beko         375.42 2021-12-06 2021-12-31       25 days

[200 rows x 5 columns]

In [9]:
# Group all the days past due and run a sum() function
AR.groupby('Days Past Due').sum()
AR.info()    # this will display each column and data-type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer       200 non-null    object
 1   InvoiceAmount  200 non-null    float64
 2   Due Date       200 non-null    datetime64[ns]
 3   Today Date     200 non-null    datetime64[ns]
 4   Days Past Due  200 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(1), timedelta64[ns](1)
memory usage: 7.9+ KB

In [10]:
# OPEN/WRITE TO FILE #1.

# Define variable and store the data that will be added.
groups=AR.groupby('Days Past Due').sum()

# Export to append to existing excel 
with pd.ExcelWriter('Lab 1 Data.xlsx', engine='openpyxl', mode='r+', if_sheet_exists='replace') as writer:
    groups.to_excel(writer, 'Sheet2')

In [11]:
# Re-cast data-type in column to INT. 
AR['Days Past Due']=(AR['Days Past Due'] / np.timedelta64(1, 'D')).astype(int)

In [12]:
# CREATE LIST VARIABLE THAT BREAKS ROW DATA INTO BUCKETS, LOOP THRU DATA AND APPEND LIST 

# Define an empty list called DaysLate.
# Each element in DaysLate is an AR bucket, range of days past due.

# Loop through the values in Days Past Due, test value condition, add a list element based on the condition for each row. 

DaysLate = []
for row in AR['Days Past Due']:
    if row<31 : DaysLate.append('1-30')         # If row INT value in Days Past Due is <31, append DaysLate list with bucket value '1-30'
    elif row<61 : DaysLate.append('31-60')
    elif row<91 : DaysLate.append('61-90')
    elif row<121 : DaysLate.append('91-120')
    elif row<151 : DaysLate.append('121-150')
    else: DaysLate.append('151-180')
        
print (DaysLate)  # print the list.

['1-30', '91-120', '121-150', '31-60', '91-120', '61-90', '91-120', '91-120', '61-90', '91-120', '1-30', '1-30', '31-60', '31-60', '121-150', '61-90', '61-90', '61-90', '151-180', '31-60', '91-120', '31-60', '91-120', '61-90', '31-60', '91-120', '151-180', '121-150', '1-30', '121-150', '61-90', '31-60', '61-90', '31-60', '121-150', '121-150', '61-90', '1-30', '91-120', '121-150', '121-150', '121-150', '61-90', '91-120', '121-150', '151-180', '121-150', '31-60', '91-120', '91-120', '61-90', '121-150', '151-180', '121-150', '61-90', '1-30', '91-120', '31-60', '31-60', '91-120', '61-90', '1-30', '91-120', '1-30', '91-120', '91-120', '31-60', '121-150', '91-120', '1-30', '121-150', '91-120', '61-90', '121-150', '121-150', '1-30', '151-180', '1-30', '31-60', '121-150', '91-120', '121-150', '61-90', '31-60', '31-60', '31-60', '31-60', '121-150', '91-120', '121-150', '31-60', '151-180', '91-120', '91-120', '121-150', '1-30', '61-90', '1-30', '61-90', '61-90', '91-120', '121-150', '1-30', '61-90', '61-90', '61-90', '1-30', '61-90', '31-60', '61-90', '61-90', '91-120', '91-120', '91-120', '1-30', '31-60', '1-30', '61-90', '121-150', '31-60', '61-90', '61-90', '31-60', '1-30', '61-90', '121-150', '61-90', '61-90', '31-60', '151-180', '31-60', '151-180', '61-90', '61-90', '31-60', '151-180', '61-90', '121-150', '1-30', '91-120', '121-150', '61-90', '121-150', '61-90', '151-180', '121-150', '31-60', '31-60', '61-90', '121-150', '151-180', '31-60', '1-30', '31-60', '31-60', '61-90', '31-60', '121-150', '31-60', '121-150', '31-60', '1-30', '1-30', '61-90', '31-60', '121-150', '61-90', '61-90', '121-150', '91-120', '151-180', '91-120', '91-120', '61-90', '121-150', '121-150', '121-150', '61-90', '61-90', '91-120', '121-150', '1-30', '91-120', '91-120', '121-150', '61-90', '61-90', '121-150', '1-30', '31-60', '121-150', '31-60', '91-120', '1-30', '1-30', '61-90', '121-150', '61-90', '31-60', '1-30']

In [13]:
# COLUMN ADD-IN: column called "DaysLate" and assign values in Dayslate[] list. 
AR['DaysLate']=DaysLate
print (AR)

       Customer  InvoiceAmount   Due Date Today Date  Days Past Due DaysLate
0    Home Depot         377.60 2021-12-02 2021-12-31             29     1-30
1       Porsche        1259.97 2021-09-28 2021-12-31             94   91-120
2      Burberry        1476.09 2021-08-14 2021-12-31            139  121-150
3          AT&T         331.80 2021-11-24 2021-12-31             37    31-60
4       Porsche        1122.46 2021-09-05 2021-12-31            117   91-120
..          ...            ...        ...        ...            ...      ...
195        eBay         652.11 2021-10-19 2021-12-31             73    61-90
196    Nintendo         566.79 2021-08-20 2021-12-31            133  121-150
197   Pizza Hut        1036.24 2021-10-21 2021-12-31             71    61-90
198      Corona        1300.85 2021-11-18 2021-12-31             43    31-60
199        Beko         375.42 2021-12-06 2021-12-31             25     1-30

[200 rows x 6 columns]

In [14]:
# OPEN/WRITE EXCEL FILE #2. 
groups2=AR.groupby('DaysLate').sum()

# export to append to existing excel 
with pd.ExcelWriter('Lab 1 Data.xlsx', engine='openpyxl', mode='r+', if_sheet_exists='replace') as writer:
    groups2.to_excel(writer, 'Sheet3')

In [15]:
# OPEN/WRITE EXCEL FILE #3.
# We want to know the amount of customers who are late on their payment past 60 days but less than 91 days. 

# Split out value for "61-90" from DaysLate column. 
subgroup=AR[AR.DaysLate=="61-90"]  # filtering rows only for value '61-90' in DaysLate
print(subgroup) # print the target customers.

# Export to append to existing excel 
with pd.ExcelWriter('Lab 1 Data.xlsx', engine='openpyxl', mode='r+', if_sheet_exists='replace') as writer:
    subgroup.to_excel(writer, 'Sheet4')

                    Customer  InvoiceAmount   Due Date Today Date  \
5                    Porsche         838.18 2021-10-03 2021-12-31
8      United Parcel Service         685.10 2021-10-31 2021-12-31
15                 Citigroup         994.35 2021-10-30 2021-12-31
16                     Xerox         230.98 2021-10-16 2021-12-31
17                 Starbucks         419.86 2021-10-08 2021-12-31
23                       KFC        1093.72 2021-10-08 2021-12-31
30                      Avon         717.65 2021-10-12 2021-12-31
32                      VISA         723.94 2021-10-10 2021-12-31
36             Credit Suisse         731.90 2021-10-04 2021-12-31
42                 Microsoft         325.08 2021-10-29 2021-12-31
50                Amazon.com         848.22 2021-10-10 2021-12-31
54        Oracle Corporation         406.57 2021-10-03 2021-12-31
60            Jack Daniel's         1117.75 2021-10-05 2021-12-31
72                  Smirnoff        1011.41 2021-10-30 2021-12-31
82                MasterCard         810.28 2021-10-20 2021-12-31
96                  Nintendo        1139.62 2021-10-12 2021-12-31
98                    Corona        1054.12 2021-10-24 2021-12-31
99                      Beko         262.04 2021-10-10 2021-12-31
103  Toyota Motor Coporation        1264.21 2021-10-06 2021-12-31
104  The Walt Disney Company        1020.57 2021-10-09 2021-12-31
105                      SAP         824.93 2021-10-16 2021-12-31
107          Kellogg Company         868.49 2021-10-20 2021-12-31
109                      IBM         710.44 2021-10-16 2021-12-31
110            Mercedes-benz         707.28 2021-10-03 2021-12-31
117                  PepsiCo        1234.88 2021-10-05 2021-12-31
120                    Canon         411.27 2021-10-23 2021-12-31
121        Intel Corporation         546.41 2021-10-20 2021-12-31
124        Shell Oil Company        1101.52 2021-10-23 2021-12-31
126                  Porsche         684.50 2021-10-22 2021-12-31
127                 Burberry         949.00 2021-10-25 2021-12-31
132                      BMW         592.69 2021-10-18 2021-12-31
133    United Parcel Service        1135.33 2021-10-26 2021-12-31
136                Citigroup         740.98 2021-10-29 2021-12-31
141                    Xerox        1096.40 2021-10-23 2021-12-31
143                Coca-Cola         259.61 2021-10-08 2021-12-31
148                      KFC         412.91 2021-10-12 2021-12-31
155                     Avon        1282.10 2021-10-13 2021-12-31
163        Intel Corporation         349.12 2021-10-24 2021-12-31
166          Kellogg Company        1444.58 2021-10-06 2021-12-31
167                Microsoft         631.99 2021-10-03 2021-12-31
173           Jack Daniel's         1365.88 2021-10-20 2021-12-31
177                  L'Oreal         528.29 2021-10-19 2021-12-31
178             Nissan Motor         700.70 2021-10-25 2021-12-31
185               Siemens AG         847.28 2021-10-09 2021-12-31
186            Mercedes-benz         912.97 2021-10-19 2021-12-31
195                     eBay         652.11 2021-10-19 2021-12-31
197                Pizza Hut        1036.24 2021-10-21 2021-12-31

     Days Past Due DaysLate
5               89    61-90
8               61    61-90
15              62    61-90
16              76    61-90
17              84    61-90
23              84    61-90
30              80    61-90
32              82    61-90
36              88    61-90
42              63    61-90
50              82    61-90
54              89    61-90
60              87    61-90
72              62    61-90
82              72    61-90
96              80    61-90
98              68    61-90
99              82    61-90
103             86    61-90
104             83    61-90
105             76    61-90
107             72    61-90
109             76    61-90
110             89    61-90
117             87    61-90
120             69    61-90
121             72    61-90
124             69    61-90
126             70    61-90
127             67    61-90
132             74    61-90
133             66    61-90
136             63    61-90
141             69    61-90
143             84    61-90
148             80    61-90
155             79    61-90
163             68    61-90
166             86    61-90
167             89    61-90
173             72    61-90
177             73    61-90
178             67    61-90
185             83    61-90
186             73    61-90
195             73    61-90
197             71    61-90