In [2]:
# Import the module of operating system (os)
import os

# help function to see what the code os.getcwd is for
help (os.getcwd)

Help on built-in function getcwd in module nt:

getcwd()
    Return a unicode string representing the current working directory.

In [3]:
# Find out your current working directory
print(os.getcwd())

# Display all of the files found in your current working directory
print(os.listdir(os.getcwd()))

# Change the current working directory
os.chdir('C:\\Users\\jakel\\Desktop\\python_proj')
print (os.getcwd())

C:\Users\jakel\Desktop\python_proj
['.ipynb_checkpoints', 'Lab 1 Data.xlsx', 'Python Lab 1 results (JAK).ipynb']
C:\Users\jakel\Desktop\python_proj

In [4]:
# Standard imports
import numpy as np       # python numners lib 
import scipy as sp
import pandas as pd      # pandas is a dataframe lib
import datetime 
import seaborn as sns    # seaborn is a high-level visual library that shows dynamic heatmaps and plots. 

# Load the A/R Data
AR = pd.read_excel (r'Lab 1 Data.xlsx', sheet_name='Sheet1')

print (AR)
# Display first few rows
AR.head(5)
AR.info()

       Customer  InvoiceAmount   Due Date  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    Home Depot         377.60 2021-12-02         NaN         NaN         NaN
1       Porsche        1259.97 2021-09-28         NaN         NaN         NaN
2      Burberry        1476.09 2021-08-14         NaN         NaN         NaN
3          AT&T         331.80 2021-11-24         NaN         NaN         NaN
4       Porsche        1122.46 2021-09-05         NaN         NaN         NaN
..          ...            ...        ...         ...         ...         ...
195        eBay         652.11 2021-10-19         NaN         NaN         NaN
196    Nintendo         566.79 2021-08-20         NaN         NaN         NaN
197   Pizza Hut        1036.24 2021-10-21         NaN         NaN         NaN
198      Corona        1300.85 2021-11-18         NaN         NaN         NaN
199        Beko         375.42 2021-12-06         NaN         NaN         NaN

     Unnamed: 6
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
195         NaN
196         NaN
197         NaN
198         NaN
199         NaN

[200 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer       200 non-null    object
 1   InvoiceAmount  200 non-null    float64
 2   Due Date       200 non-null    datetime64[ns]
 3   Unnamed: 3     0 non-null      float64
 4   Unnamed: 4     0 non-null      float64
 5   Unnamed: 5     0 non-null      float64
 6   Unnamed: 6     0 non-null      float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 11.1+ KB

In [5]:
# JAK: How many columns and rows does raw AR file have?
AR.shape      # shape returns a tuple(count # rows, count # columns). 200 rows, distinct customers, 7 columns

(200, 7)

In [21]:
# JAK: Data clean-up, remove the useless columns "Unamed 3, Unamed 4, Unamed 5, Unamed 6"
AR.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],inplace=True)
AR.shape     # check if column count dropped.

(200, 6)

In [8]:
# JAK: What is some prelim AR data telling us?
AR.describe()      # describe() takes numeric-valued rows, and calculates stats. NaN = Not A Number.

# INSIGHT: 
# 200 unique customers
# Average past due amount $845.72
# 75% of past due AR is over $1100
# Lowest AR customer past due is $230.98
# Highest AR customer past due is $1,505.35

       InvoiceAmount  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
count     200.000000         0.0         0.0         0.0         0.0
mean      845.721700         NaN         NaN         NaN         NaN
std       375.342177         NaN         NaN         NaN         NaN
min       230.980000         NaN         NaN         NaN         NaN
25%       519.687500         NaN         NaN         NaN         NaN
50%       811.470000         NaN         NaN         NaN         NaN
75%      1144.460000         NaN         NaN         NaN         NaN
max      1505.350000         NaN         NaN         NaN         NaN

In [9]:
# Provide 'Today Date' as the column name and assign 12/31/2021 to the column
AR['Today Date'] = datetime.date(2021 , 12 , 31)
print (AR)
# Check the format of the columns
AR.info()
# Convert the 'Today Date' column to datetime format
AR['Today Date'] = pd.to_datetime(AR['Today Date'])

       Customer  InvoiceAmount   Due Date  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    Home Depot         377.60 2021-12-02         NaN         NaN         NaN
1       Porsche        1259.97 2021-09-28         NaN         NaN         NaN
2      Burberry        1476.09 2021-08-14         NaN         NaN         NaN
3          AT&T         331.80 2021-11-24         NaN         NaN         NaN
4       Porsche        1122.46 2021-09-05         NaN         NaN         NaN
..          ...            ...        ...         ...         ...         ...
195        eBay         652.11 2021-10-19         NaN         NaN         NaN
196    Nintendo         566.79 2021-08-20         NaN         NaN         NaN
197   Pizza Hut        1036.24 2021-10-21         NaN         NaN         NaN
198      Corona        1300.85 2021-11-18         NaN         NaN         NaN
199        Beko         375.42 2021-12-06         NaN         NaN         NaN

     Unnamed: 6  Today Date
0           NaN  2021-12-31
1           NaN  2021-12-31
2           NaN  2021-12-31
3           NaN  2021-12-31
4           NaN  2021-12-31
..          ...         ...
195         NaN  2021-12-31
196         NaN  2021-12-31
197         NaN  2021-12-31
198         NaN  2021-12-31
199         NaN  2021-12-31

[200 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer       200 non-null    object
 1   InvoiceAmount  200 non-null    float64
 2   Due Date       200 non-null    datetime64[ns]
 3   Unnamed: 3     0 non-null      float64
 4   Unnamed: 4     0 non-null      float64
 5   Unnamed: 5     0 non-null      float64
 6   Unnamed: 6     0 non-null      float64
 7   Today Date     200 non-null    object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 12.6+ KB

In [10]:
# How many days past due is each customer?
# Add-in another column called "Days Past Due", the value for this column is expression Today's Date - Due Date = Days Past Due.
AR['Days Past Due'] =AR['Today Date'] - AR['Due Date']
print (AR)

       Customer  InvoiceAmount   Due Date  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    Home Depot         377.60 2021-12-02         NaN         NaN         NaN
1       Porsche        1259.97 2021-09-28         NaN         NaN         NaN
2      Burberry        1476.09 2021-08-14         NaN         NaN         NaN
3          AT&T         331.80 2021-11-24         NaN         NaN         NaN
4       Porsche        1122.46 2021-09-05         NaN         NaN         NaN
..          ...            ...        ...         ...         ...         ...
195        eBay         652.11 2021-10-19         NaN         NaN         NaN
196    Nintendo         566.79 2021-08-20         NaN         NaN         NaN
197   Pizza Hut        1036.24 2021-10-21         NaN         NaN         NaN
198      Corona        1300.85 2021-11-18         NaN         NaN         NaN
199        Beko         375.42 2021-12-06         NaN         NaN         NaN

     Unnamed: 6 Today Date Days Past Due
0           NaN 2021-12-31       29 days
1           NaN 2021-12-31       94 days
2           NaN 2021-12-31      139 days
3           NaN 2021-12-31       37 days
4           NaN 2021-12-31      117 days
..          ...        ...           ...
195         NaN 2021-12-31       73 days
196         NaN 2021-12-31      133 days
197         NaN 2021-12-31       71 days
198         NaN 2021-12-31       43 days
199         NaN 2021-12-31       25 days

[200 rows x 9 columns]

In [11]:
# Group all the days past due and run a sum() function
AR.groupby('Days Past Due').sum()
AR.info()    # this info() function will display each column in the dataframe, the summed values for each column across all rows.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer       200 non-null    object
 1   InvoiceAmount  200 non-null    float64
 2   Due Date       200 non-null    datetime64[ns]
 3   Unnamed: 3     0 non-null      float64
 4   Unnamed: 4     0 non-null      float64
 5   Unnamed: 5     0 non-null      float64
 6   Unnamed: 6     0 non-null      float64
 7   Today Date     200 non-null    datetime64[ns]
 8   Days Past Due  200 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(5), object(1), timedelta64[ns](1)
memory usage: 14.2+ KB

In [12]:
# Define a groups variable and store the grouped results from pevious cell.
groups=AR.groupby('Days Past Due').sum()

# export to append to existing excel 
writer = pd.ExcelWriter('Lab 1 Data.xlsx', engine='openpyxl', mode='a')  # Open Excel file in write mode. 
groups.to_excel(writer, 'Sheet2')                                        # append a second worksheet called Sheet2 and write the data stored in groups into this 
writer.save()                                                            # save the written changes to Excel file. 
writer.close()                                                           # close the Excel file to prevent further changes.

In [13]:
# Reformat the values in Days Past Due column using numpy lib, and cast data-type as an INT. 
AR['Days Past Due']=(AR['Days Past Due'] / np.timedelta64(1, 'D')).astype(int)

In [14]:
# Define an empty list called DaysLate.
# Each list has elements [1, 2, 3, 4, 5]
# Each element in DaysLate is an AR bucket, range of days past due. There will be 6 distinct list elements.

# Loop through the values in Days Past Due, test value condition, add a list element based on the condition for each row. 

DaysLate = []
for row in AR['Days Past Due']:
    if row<31 : DaysLate.append('1-30')         # If row INT value in Days Past Due is <31, append DaysLate list with bucket value '1-30'
    elif row<61 : DaysLate.append('31-60')
    elif row<91 : DaysLate.append('61-90')
    elif row<121 : DaysLate.append('91-120')
    elif row<151 : DaysLate.append('121-150')
    else: DaysLate.append('151-180')
        
print (DaysLate)  # print the list.

['1-30', '91-120', '121-150', '31-60', '91-120', '61-90', '91-120', '91-120', '61-90', '91-120', '1-30', '1-30', '31-60', '31-60', '121-150', '61-90', '61-90', '61-90', '151-180', '31-60', '91-120', '31-60', '91-120', '61-90', '31-60', '91-120', '151-180', '121-150', '1-30', '121-150', '61-90', '31-60', '61-90', '31-60', '121-150', '121-150', '61-90', '1-30', '91-120', '121-150', '121-150', '121-150', '61-90', '91-120', '121-150', '151-180', '121-150', '31-60', '91-120', '91-120', '61-90', '121-150', '151-180', '121-150', '61-90', '1-30', '91-120', '31-60', '31-60', '91-120', '61-90', '1-30', '91-120', '1-30', '91-120', '91-120', '31-60', '121-150', '91-120', '1-30', '121-150', '91-120', '61-90', '121-150', '121-150', '1-30', '151-180', '1-30', '31-60', '121-150', '91-120', '121-150', '61-90', '31-60', '31-60', '31-60', '31-60', '121-150', '91-120', '121-150', '31-60', '151-180', '91-120', '91-120', '121-150', '1-30', '61-90', '1-30', '61-90', '61-90', '91-120', '121-150', '1-30', '61-90', '61-90', '61-90', '1-30', '61-90', '31-60', '61-90', '61-90', '91-120', '91-120', '91-120', '1-30', '31-60', '1-30', '61-90', '121-150', '31-60', '61-90', '61-90', '31-60', '1-30', '61-90', '121-150', '61-90', '61-90', '31-60', '151-180', '31-60', '151-180', '61-90', '61-90', '31-60', '151-180', '61-90', '121-150', '1-30', '91-120', '121-150', '61-90', '121-150', '61-90', '151-180', '121-150', '31-60', '31-60', '61-90', '121-150', '151-180', '31-60', '1-30', '31-60', '31-60', '61-90', '31-60', '121-150', '31-60', '121-150', '31-60', '1-30', '1-30', '61-90', '31-60', '121-150', '61-90', '61-90', '121-150', '91-120', '151-180', '91-120', '91-120', '61-90', '121-150', '121-150', '121-150', '61-90', '61-90', '91-120', '121-150', '1-30', '91-120', '91-120', '121-150', '61-90', '61-90', '121-150', '1-30', '31-60', '121-150', '31-60', '91-120', '1-30', '1-30', '61-90', '121-150', '61-90', '31-60', '1-30']

In [15]:
# Add-in new column called DaysLate and assign values in Dayslate[] list. 
AR['DaysLate']=DaysLate
print (AR)

       Customer  InvoiceAmount   Due Date  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    Home Depot         377.60 2021-12-02         NaN         NaN         NaN
1       Porsche        1259.97 2021-09-28         NaN         NaN         NaN
2      Burberry        1476.09 2021-08-14         NaN         NaN         NaN
3          AT&T         331.80 2021-11-24         NaN         NaN         NaN
4       Porsche        1122.46 2021-09-05         NaN         NaN         NaN
..          ...            ...        ...         ...         ...         ...
195        eBay         652.11 2021-10-19         NaN         NaN         NaN
196    Nintendo         566.79 2021-08-20         NaN         NaN         NaN
197   Pizza Hut        1036.24 2021-10-21         NaN         NaN         NaN
198      Corona        1300.85 2021-11-18         NaN         NaN         NaN
199        Beko         375.42 2021-12-06         NaN         NaN         NaN

     Unnamed: 6 Today Date  Days Past Due DaysLate
0           NaN 2021-12-31             29     1-30
1           NaN 2021-12-31             94   91-120
2           NaN 2021-12-31            139  121-150
3           NaN 2021-12-31             37    31-60
4           NaN 2021-12-31            117   91-120
..          ...        ...            ...      ...
195         NaN 2021-12-31             73    61-90
196         NaN 2021-12-31            133  121-150
197         NaN 2021-12-31             71    61-90
198         NaN 2021-12-31             43    31-60
199         NaN 2021-12-31             25     1-30

[200 rows x 10 columns]

In [16]:
# Group the summed AR bucket values of DaysLate and store in variable groups 2.
groups2=AR.groupby('DaysLate').sum()

# export to append to existing excel 
writer = pd.ExcelWriter('Lab 1 Data.xlsx', engine='openpyxl', mode='a')   # Re-open Excel file in write mode.
groups2.to_excel(writer, 'Sheet3')                                        # write the AR bucket data into a new worksheet Sheet 3. 
writer.save()                                                             # save the changes.
writer.close()                                                            # close the file.

In [17]:
# We want to know the amount of customers who are late on their payment past 60 days but less than 91 days. 

#Create subgroup variable and store only the columns and row values that have '60-90' in DaysLate column, 
subgroup=AR[AR.DaysLate=="61-90"]  # filtering rows only for value '61-90' in DaysLate
print(subgroup) # print the target customers.

# export to append to existing excel 
writer = pd.ExcelWriter('Lab 1 Data.xlsx', engine='openpyxl', mode='a')  # re-open Excel file in append/write mode.
subgroup.to_excel(writer, 'Sheet4')                                      # create a fourth worksheet Sheet4 and write the data in.
writer.save()                                                            # Save changes.
writer.close()                                                           # Close file.

                    Customer  InvoiceAmount   Due Date  Unnamed: 3  \
5                    Porsche         838.18 2021-10-03         NaN
8      United Parcel Service         685.10 2021-10-31         NaN
15                 Citigroup         994.35 2021-10-30         NaN
16                     Xerox         230.98 2021-10-16         NaN
17                 Starbucks         419.86 2021-10-08         NaN
23                       KFC        1093.72 2021-10-08         NaN
30                      Avon         717.65 2021-10-12         NaN
32                      VISA         723.94 2021-10-10         NaN
36             Credit Suisse         731.90 2021-10-04         NaN
42                 Microsoft         325.08 2021-10-29         NaN
50                Amazon.com         848.22 2021-10-10         NaN
54        Oracle Corporation         406.57 2021-10-03         NaN
60            Jack Daniel's         1117.75 2021-10-05         NaN
72                  Smirnoff        1011.41 2021-10-30         NaN
82                MasterCard         810.28 2021-10-20         NaN
96                  Nintendo        1139.62 2021-10-12         NaN
98                    Corona        1054.12 2021-10-24         NaN
99                      Beko         262.04 2021-10-10         NaN
103  Toyota Motor Coporation        1264.21 2021-10-06         NaN
104  The Walt Disney Company        1020.57 2021-10-09         NaN
105                      SAP         824.93 2021-10-16         NaN
107          Kellogg Company         868.49 2021-10-20         NaN
109                      IBM         710.44 2021-10-16         NaN
110            Mercedes-benz         707.28 2021-10-03         NaN
117                  PepsiCo        1234.88 2021-10-05         NaN
120                    Canon         411.27 2021-10-23         NaN
121        Intel Corporation         546.41 2021-10-20         NaN
124        Shell Oil Company        1101.52 2021-10-23         NaN
126                  Porsche         684.50 2021-10-22         NaN
127                 Burberry         949.00 2021-10-25         NaN
132                      BMW         592.69 2021-10-18         NaN
133    United Parcel Service        1135.33 2021-10-26         NaN
136                Citigroup         740.98 2021-10-29         NaN
141                    Xerox        1096.40 2021-10-23         NaN
143                Coca-Cola         259.61 2021-10-08         NaN
148                      KFC         412.91 2021-10-12         NaN
155                     Avon        1282.10 2021-10-13         NaN
163        Intel Corporation         349.12 2021-10-24         NaN
166          Kellogg Company        1444.58 2021-10-06         NaN
167                Microsoft         631.99 2021-10-03         NaN
173           Jack Daniel's         1365.88 2021-10-20         NaN
177                  L'Oreal         528.29 2021-10-19         NaN
178             Nissan Motor         700.70 2021-10-25         NaN
185               Siemens AG         847.28 2021-10-09         NaN
186            Mercedes-benz         912.97 2021-10-19         NaN
195                     eBay         652.11 2021-10-19         NaN
197                Pizza Hut        1036.24 2021-10-21         NaN

     Unnamed: 4  Unnamed: 5  Unnamed: 6 Today Date  Days Past Due DaysLate
5           NaN         NaN         NaN 2021-12-31             89    61-90
8           NaN         NaN         NaN 2021-12-31             61    61-90
15          NaN         NaN         NaN 2021-12-31             62    61-90
16          NaN         NaN         NaN 2021-12-31             76    61-90
17          NaN         NaN         NaN 2021-12-31             84    61-90
23          NaN         NaN         NaN 2021-12-31             84    61-90
30          NaN         NaN         NaN 2021-12-31             80    61-90
32          NaN         NaN         NaN 2021-12-31             82    61-90
36          NaN         NaN         NaN 2021-12-31             88    61-90
42          NaN         NaN         NaN 2021-12-31             63    61-90
50          NaN         NaN         NaN 2021-12-31             82    61-90
54          NaN         NaN         NaN 2021-12-31             89    61-90
60          NaN         NaN         NaN 2021-12-31             87    61-90
72          NaN         NaN         NaN 2021-12-31             62    61-90
82          NaN         NaN         NaN 2021-12-31             72    61-90
96          NaN         NaN         NaN 2021-12-31             80    61-90
98          NaN         NaN         NaN 2021-12-31             68    61-90
99          NaN         NaN         NaN 2021-12-31             82    61-90
103         NaN         NaN         NaN 2021-12-31             86    61-90
104         NaN         NaN         NaN 2021-12-31             83    61-90
105         NaN         NaN         NaN 2021-12-31             76    61-90
107         NaN         NaN         NaN 2021-12-31             72    61-90
109         NaN         NaN         NaN 2021-12-31             76    61-90
110         NaN         NaN         NaN 2021-12-31             89    61-90
117         NaN         NaN         NaN 2021-12-31             87    61-90
120         NaN         NaN         NaN 2021-12-31             69    61-90
121         NaN         NaN         NaN 2021-12-31             72    61-90
124         NaN         NaN         NaN 2021-12-31             69    61-90
126         NaN         NaN         NaN 2021-12-31             70    61-90
127         NaN         NaN         NaN 2021-12-31             67    61-90
132         NaN         NaN         NaN 2021-12-31             74    61-90
133         NaN         NaN         NaN 2021-12-31             66    61-90
136         NaN         NaN         NaN 2021-12-31             63    61-90
141         NaN         NaN         NaN 2021-12-31             69    61-90
143         NaN         NaN         NaN 2021-12-31             84    61-90
148         NaN         NaN         NaN 2021-12-31             80    61-90
155         NaN         NaN         NaN 2021-12-31             79    61-90
163         NaN         NaN         NaN 2021-12-31             68    61-90
166         NaN         NaN         NaN 2021-12-31             86    61-90
167         NaN         NaN         NaN 2021-12-31             89    61-90
173         NaN         NaN         NaN 2021-12-31             72    61-90
177         NaN         NaN         NaN 2021-12-31             73    61-90
178         NaN         NaN         NaN 2021-12-31             67    61-90
185         NaN         NaN         NaN 2021-12-31             83    61-90
186         NaN         NaN         NaN 2021-12-31             73    61-90
195         NaN         NaN         NaN 2021-12-31             73    61-90
197         NaN         NaN         NaN 2021-12-31             71    61-90