In [1]:
import os
# Find out your current working directory
print(os.getcwd())

# Change the current working directory
os.chdir('C:\\Users\\jakel\\Desktop\\python_proj')
print (os.getcwd())

C:\Users\jakel\Desktop\python_proj
C:\Users\jakel\Desktop\python_proj

In [2]:
import pandas as pd

# Read-in Excel file and point to the first worksheet
Seg = pd.read_excel (r'Lab 2 Data.xlsx', sheet_name='Sheet 1')       

Seg.head(5)   # displays first 5 rows.

,Date,JE#,Account Name,Debit,Credit,Entered,Approved,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2022-01-03,0,Cash,50000.0,NaN,VR,AC,NaN,NaN,NaN
1,2022-01-03,0,Common Stock,NaN,50000.0,VR,AC,NaN,NaN,NaN
2,2022-01-03,1,Travel Expense,250.0,NaN,VR,AC,NaN,NaN,NaN
3,2022-01-03,1,Cash,NaN,250.0,VR,AC,NaN,NaN,NaN
4,2022-01-03,2,Building,32000.0,NaN,VR,AC,NaN,NaN,NaN

In [3]:
# Data-Cleanup: Eliminate useless columns
Seg.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], inplace=True)  #inplace = True will brute force changes.
Seg.head(5)

        Date  JE#   Account Name     Debit   Credit Entered Approved
0 2022-01-03    0            Cash  50000.0      NaN      VR       AC
1 2022-01-03    0    Common Stock      NaN  50000.0      VR       AC
2 2022-01-03    1  Travel Expense    250.0      NaN      VR       AC
3 2022-01-03    1            Cash      NaN    250.0      VR       AC
4 2022-01-03    2        Building  32000.0      NaN      VR       AC

In [4]:
# ANALYSIS: Look at the last JE entries made. 
Seg.tail(5)

          Date  JE#      Account Name     Debit   Credit Entered Approved
100 2022-01-29   49               Cash      NaN    400.0      VR       AC
101 2022-01-30   50  Insurance Expense    200.0      NaN      VR       AC
102 2022-01-30   50  Prepaid Insurance      NaN    200.0      VR       AC
103 2022-01-31   51               Cash  21000.0      NaN      VR       DH
104 2022-01-31   51    Service Revenue      NaN  21000.0      VR       DH

In [5]:
# ANALYSIS: Check if Debits = Credits
print('*' * 50)
print("Debit Total:", Seg['Debit'].sum())
print("Credit Total:", Seg['Credit'].sum())  
print('*' * 50)

# INSIGHT: The month of Jan 2022 is in balance.

**************************************************
Debit Total: 297927.0
Credit Total: 297927.0
**************************************************

In [6]:
# ANALYSIS: Dislay breakdown of who authorized all JE entries. 
Audit = Seg.groupby(['Entered', 'Approved']).size()
print(Audit)

# INSIGHT: VR made 1 unauthorized JE entry. Each entry at minimum is 2 entries for Debit and Credit.

Entered  Approved
MW       AC          26
         DH          19
VR       AC          40
         DH          18
         VR           2
dtype: int64

In [7]:
# ANALYSIS: Display the unapproved transaction. 
unapproved = Seg[Seg['Approved'] == 'VR']          # only retrieve rows that have value VR. 
print(unapproved)

#INSIGHT: VR approved their own training expense? That should be done approved by management. Investigate.

         Date  JE#     Account Name   Debit  Credit Entered Approved
69 2022-01-23   34  Training Expense  500.0     NaN      VR       VR
70 2022-01-23   34              Cash    NaN   500.0      VR       VR

In [8]:
# OPEN/WRITE EXCEL FILE. Add a new worksheet and append new JE audit data. 

#writer = pd.ExcelWriter('Lab 2 Data.xlsx', engine='openpyxl', mode='a')

with pd.ExcelWriter('Lab 2 Data.xlsx', engine='openpyxl', mode='r+', if_sheet_exists='replace') as writer:
    Audit.to_excel(writer, 'Sheet2')